* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f2f2;
}

.container {
  padding: 0 0rem;
  width: 100vw;
  height: 100vh;
}

.chat-container {
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  display: flex;
  height: 100vh;
}
/* left section styling */
.chat-left {
  flex: 0 0 20%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #272727;
  border: 1px solid #000;
}

.chat-left::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.chat-left-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #272727;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.chat-left-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0rem;
  color: #fff;
}

.chat-left-header-title .btn-icon {
  font-size: 20px;
}

.chat-left-header form {
  position: relative;
  display: flex;
}

.chat-left-header form .btn-icon {
  margin-left: -30px;
}

.form-custom {
  padding: 8px 0px 8px 20px;
  font-size: 14px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid green;
  transition: all 0.3s ease-in;
  background-color: #404040;
  color: #fff;
}

.form-custom:focus {
  border-bottom: 2px solid lightcoral;
}

.btn-icon {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-out;
  z-index: 10;
  cursor: pointer;
  color: #fff;
}

.btn-icon:hover {
  color: lightcoral;
}
.user-list a{
  text-decoration: none;
}
.search-title{
  color:#fff;
  font-weight: 500;
  font-size: 16px; 
  padding: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: block;
}


.user-item {
  /* margin: 0 1rem; */
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.user-item:hover {
  background-color: #404040;
}

.user-item.active{
  background-color: #404040;
}
.user-item-image {
  flex: 0 0 20%;
}

.user-item-image img {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-item-details {
  flex: 0 0 76%;
}

.user-item-details span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #b6b8bc;
  max-width: 170px;
}

.title-heading {
  display: flex;
  justify-content: space-between;
}

.title-heading span {
  font-size: 13px;
  color: lightgray;
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}



/* right section styling */
.chat-right {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

/* chat section header styling */

.chat-header {
  padding: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
}

.chat-user-detail title {
  font-size: 18px;
  font-weight: 500;
}

.chat-user-detail span {
  font-size: 14px;
  color: lightgray;
}



/* chat section footer styling */
.chat-footer {
  padding:  1rem;
  border-top: 1px solid #000;
  background-color: #272727;
}

.chat-footer form {
  display: flex;
}

.chat-footer form button {
  font-size: 20px;
}

.form-chat {
  padding: 5px;
  font-size: 14px;
  width: 100%;
  height: 20px;
  transition: all 0.3s ease-in;
  border: none;
  outline: none;
  background-color: #272727;
  color: #fff;
}

.form-chat:focus {
  padding-left: 5px;
  border-color: lightblue
}

/* chat area styling */

.chat-section {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0rem 0.5rem;
  height: 100%;
  transition: all 0.2s ease-in;
  background-color: #272727;
  background-image: url('./images/chat-bg.png');
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* background-position: center; */
  background-blend-mode: overlay;
}


/* chat messages alignment styling */
.msg {
  margin: 5px 0px;
  font-size: 14px;
  display: flex;
}

.msg span {
  padding: 8px 8px;
  background-color: #383838;
  margin: 0px 5px;
  color: #fff;
  max-width: 50%;
}

.msg.left span {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.msg.right span {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.left {
  justify-content: start;

}

.right {
  justify-content: end;
}

.chat-section::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal{
  position: relative;
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #272727;
}
.modal-header{
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.modal-header h3{
  color: #fff;
  margin: 0;
}
.modal-body{
  position: relative;
  background-color: #272727;
  padding:0rem 1rem 2rem 1rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.modal-body .user-item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #404040;
  color: #fff;
}
.home i{
  font-size: 90px;
  color: #fff;
}

.nomsg{
  display: flex;
  text-align: center;
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
  justify-content:center ;
  color: #fff;
}

@media only screen and (max-width: 1200px) and (min-width: 992px)  {
  .chat-left {
    flex: 0 0 30%;
  }
  .chat-right {
    flex: 0 0 70%;
  }

}

@media only screen and (max-width:991px) and (min-width: 768px)  {
  .chat-left {
    flex: 0 0 35%;
  }
  .chat-right {
    flex: 0 0 65%;
  }

}

@media only screen and (max-width:767px) and (min-width: 576px)  {
  .chat-left {
    flex: 0 0 45%;
  }
  .chat-right {
    flex: 0 0 55%;
  }

}